<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant info</title>
</head>
<body>
    <h1>Hello, I am <%= plant.name %>!</h1>  
    <p>Plant Name: <%= plant.name %></p>
    <p>Summer Location: <%= plant.summer_location %></p>
    <p>Schooltime Location: <%= plant.schooltime_location %></p>
    <p>Watering Frequency: <%= plant.frequency %></p>
</body>
</html>